#include "Convert-MarkdownToHtml.h"


#ifdef EXE_FILE
103 ICON "Convert-MarkdownToHtml.ico"
#endif


1 VERSIONINFO
FILEVERSION VER_VERSION
PRODUCTVERSION VER_VERSION
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
  BLOCK "007f04b0"
  {
    VALUE "ProductName", "CvMd2Html Shortcut"
    VALUE "ProductVersion", VER_VERSION_STR
    VALUE "LegalCopyright", "\xA9 2024 sangafabrice"
    VALUE "CompanyName", "sangafabrice"
    VALUE "FileVersion", VER_VERSION_STR
#ifdef EXE_FILE
    VALUE "FileDescription", "CvMd2Html Launcher"
#endif
#ifdef DLL_FILE
    VALUE "FileDescription", "WIM Utilities"
#endif
  }
}

BLOCK "VarFileInfo"
{
  VALUE "Translation", 0x007F 0x04B0 
}
}